
{% extends "base.html" %}
{% block content %}
<div class="booking-container">
    <h2>Book a Table</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
       
        <button type="submit" class="btn-book">Book Now</button>
    </form>
</div>

<style>
    .booking-container {
        width: 50%;
        margin: auto;
        background: #f0f2e4;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        color: #20211f;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
        display: block;
    }

    input, textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn-book {
        width: 100%;
        padding: 10px;
        background: #528253;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-book:hover {
        background: #363634;
    }
</style>
{% endblock %}
